{% extends "_base.html" %}

{% load static %}

{% block content %}


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Оригинальный вариант</h5>

            <p class="light">Количество переходов к количеству просмотров: {{ original_conversion }}</p>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Тестовый вариант</h5>

            <p class="light">Количество переходов к количеству просмотров: {{ test_conversion }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}