### Python ###
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
env/
NDJvenv/

### Project specific ###
settings_local.py

### Settings for visual studio code
.vscode/
run_venv.sh