{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">

            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: <span>{{ book.author }}</span></p>
                    <p>Дата публикации: <a href="{% url 'books_of_day' book.pub_date %}">{{ book.pub_date }}</a></p>
                </div>
            {% endfor %}

        </div>

        {% if page_obj %}

            {% if page_obj.previous %}
                <a href="{% url 'books_of_day' page_obj.previous %}">&laquo; {{ page_obj.previous }}</a>
            {% endif %}

            {% if page_obj.next %}
                <a href="{% url 'books_of_day' page_obj.next %}">{{ page_obj.next }} &raquo;</a>
            {% endif %}

        {% endif %}

    </div>
{% endblock %}