{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                <h2>Сияние</h2>
                <p>Автор: Стивен Кинг</p>
                <p>Дата публикации: 2018-09-10</p>
            </div>
            <div class="book col-md-4">
                <h2>1984</h2>
                <p>Автор: Джордж Оруэл</p>
                <p>Дата публикации: 2015-03-11</p>
            </div>
        </div>
    </div>
{% endblock %}