<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
      <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Bootstrap core CSS -->
    <link href="{% static  "vendor/bootstrap/css/bootstrap.min.css"  %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static  "css/3-col-portfolio.css" %}" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Будь в курсе событий</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">На главную
                <span class="sr-only">(current)</span>
              </a>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
      <!-- Bootstrap core JavaScript -->
    <script src="{% static  "vendor/jquery/jquery.min.js" %}"></script>
  </body>
</html>