{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
            <a href="?order_by=-price" class="btn btn-primary">Цена ▼</a>
            <a href="?order_by=price" class="btn btn-primary">Цена ▲</a>
            <a href="?order_by=-name" class="btn btn-primary">Имя ▼</a>
            <a href="?order_by=name" class="btn btn-primary">Имя ▲</a>
        </div>

        <div class="content">
            <div class="row">
                {% for phone in phones %}
                    {% include "card.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}