<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
      <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Bootstrap core CSS -->
    <link href="{% static  "css/bootstrap.min.css"  %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static  "css/3-col-portfolio.css" %}" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Список учеников школы</a>
      </div>
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static "js/bootstrap.bundle.min.js" %}"></script>
      <!-- Bootstrap core JavaScript -->
    <script src="{% static  "js/jquery.min.js" %}"></script>
  </body>
</html>