.header {
    font-weight: bold;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    height: calc(100% - 50px);
    padding: 0;
    margin: 0;
}

#label {
    text-align: right;
    padding: 3px;
}

.form-top {
    padding: 3px;
    margin: auto;
}