.header {
    margin-top: 30px;
    margin-bottom: 50px;
}

.phone {
    margin: 30px;
    display: inline-block;
    width: 250px;
}

.sort-block .sort-item {
    padding-right: 20px;
}

.price {
    font-weight: bold;
}

