{% extends "_base.html" %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Sex</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dave Gamache</td>
          <td>26</td>
          <td>Male</td>
          <td>San Francisco</td>
        </tr>
        <tr>
          <td>Dwayne Johnson</td>
          <td>42</td>
          <td>Male</td>
          <td>Hayward</td>
        </tr>
      </tbody>
    </table>
    <a class="button button-primary" href="#">⟵</a>
    <a class="button" href="#">1</a>
    <a class="button" href="#">2</a>
    <a class="button" href="#">3</a>
    <a class="button button-primary" href="#">⟶</a>
  </div>
</div>
{% endblock %}