{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
    <div class="row">
        {% for student in students %}
            <div class="col-12"><li>{{ student.name }}</li>
                <div class="col">Класс: {{ student.group }}</div>
                <div class="col">Преподаватель:</div>
                    {% for teacher in student.teacher.all %}
                        <ul type="circle">
                            <li>{{ teacher.name }} - {{ teacher.subject }}</li>
                        </ul>
                    {% endfor %}

            </div>
        {% endfor %}
    </div>










{% endblock %}
