<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="col s12 m8">
        
      
      <table>
          <tr>
            {% for header in headers %}
            <th>
                {{ header }}
            </th>
            {% endfor %}
          </tr>
          
          {% for rows in values %}
          <tr>
              {% for row in rows %}
                  {% if rows|last == row%}
                    <td style="background: rgba(128, 128, 128, 0.787)">{{ row }}</td>
                  {% elif row < 0 %}
                    <td style="background: green">{{ row }}</td>
                  {% elif row > 1 and row < 2 %}
                    <td style="background: rgba(255, 0, 0, 0.479)">{{ row }}</td>
                  {% elif row >= 2 and row < 5 %}
                    <td style="background: rgba(255, 0, 0, 0.774)">{{ row }}</td>
                  {% elif row > 5 %}
                    <td style="background: red">{{ row }}</td>
                  {% elif not row%}
                    <td>{{ "-" }}</td>              
                  {% else %}
                    <td>{{ row }}</td>
                {% endif %}
              {% endfor %}
          </tr>
          {% endfor %}
      </table>
        </div>
      </div>
    {% endblock %}

  </body>
</html>