{% load get_cell_color %}
{% load repalce_dot_to_comma %}
<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <ul class="col s12 m8">
        
        <!-- Ваша логика -->
        {% if inflation_data %}
          <table>
            <thead>
              {% for head in inflation_data.0 %}
                <th>
                  {{ head }}
                </th>
              {% endfor %}
            </thead>
            <tbody>
              {% for data_line in inflation_data %}
                <tr>
                  {% for key, value in data_line.items %}
                    {% if key == 'Суммарная' %}
                      <td style="background-color: lightgray">
                        {{ value|repalce_dot_to_comma }}
                      </td>
                    {% elif key == 'Год' %}
                      <th>
                        {{ value }}
                      </th>
                    {% else %}
                      {% if value %}
                        <td style="background-color: {{ value|get_cell_color }}">
                          {{ value|repalce_dot_to_comma }}
                        </td>
                      {% else %}
                        <td>
                          -
                        </td>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        </ul>
      </div>
    {% endblock %}

  </body>
</html>