{% extends "articles/base.html" %}
{% load static %}

{% block title %}Новости{% endblock %}
{% block content %}
<div class="row">
  {% for article in object_list %}
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card-text">
        <div class="col-12">{{ article.title }}</div>
        <div class="col-12">{{ article.text }}</div>
        <div class="col-12">{{ article.author.name }}</div>
        <div class="col-12">{{ article.genre.name }}</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
